.background{
    height: 200px;
    background-image: url("/src/img/back1.jpg");
    background-size: cover;
    color: dimgrey;
    font-size: large;
    font-style: italic;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}